@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto&display=swap');
#root {
width: 100vw;
overflow: hidden;
/* font-family: 'Poppins',sans-serif; */
}

.page{
  width: 99vw;
  height: 90vh;
  background-image: linear-gradient(to right, #b8b7b7 1px, transparent 1px), linear-gradient(to bottom, silver 1px, transparent 1px);
  background-size: 44px 44px;
  position: relative;
}
.page-content{
  position: relative;
  padding:2rem 8rem;
}
.center-frame{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  position: relative;
}
.center-pic-outer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  position: relative;
}
.center-pic{

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  position: relative;

}
.half-image{
  position: absolute;
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  animation: photoanim 10s linear infinite ;
}
@keyframes photoanim {
  
  0%{
    width: 100%;
  }
  50%{
    width: 47%;
  }
  95%{
    width: 0%;
  }
  100%{
    width:100%;
  }
}
.half-image img{
  position: relative;
  width: 354px;
  top: -1px;
  right: -3px;

}
.satyamheading {
  font-family: 'Bowlby One SC', sans-serif;
  background: linear-gradient(to right,#820394,#34024a, #313131, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10.2em !important;
  letter-spacing: 1px;
}
.bgplane{
  position: absolute;
    z-index: -1;
}
.bgplane img{
    position: relative;
    left: 22px;
    top: -99px;
    width: 78px;
    height: 400px;
    animation: rotateanim 10s ease-in-out infinite ;
    transform-origin: bottom;
}
@keyframes rotateanim {
  0%{
    transform: rotate(-120deg);
  }
  20%{
    transform: rotate(-56deg);
  }
  40%{
    transform: rotate(-20deg);
  }
  60%{
    transform: rotate(33deg);
  }
  80%{
   transform: rotate(66deg);
  }
  100%{

   transform:  rotate(180deg) scale(0);
  }
}
.right-frame{
  background: #00000036;
    position: absolute;
    width: 50vw;
    height: 90vh;
    top: 0;
    right: -27px;
}
.circle{
  background: transparent;
  width: 670px;
  position: absolute;
  height: 600px;
  border-radius: 50%;
  border: 2px dashed #6c6c6c;
  border-block-width: 4px;

}
.circle div{
  color: black;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 98px;
    align-items: center;
  cursor: pointer;
}
.circle img{
  filter: drop-shadow(6px 6px 6px rgb(193, 188, 188));
  position: relative;
  transition: transform ease-in-out 0.2s; 
}
.circle img:hover{
  transform: rotate(20deg) scale(1.15);
 
}
.circle div:nth-child(1){
  transform: translate(-24px, 104px);
}
.circle div:nth-child(1) img{
  width: 120px;
}
.circle div:nth-child(2){
  transform: translate(157px, -128px);

}
.circle div:nth-child(2) img{
  width: 100px;
}
.circle div:nth-child(3){
  transform: translate(440px, -204px);

}
.circle div:nth-child(3) img{
  width: 75px;
}
.circle div:nth-child(4){ 
  transform: translate(585px, -144px);
}
.circle div:nth-child(4) img{
  width: 100px;
}
.bottom-heading{
 width: 100%;
  height: 134px;
  background: hsl(0, 0%, 12%);
  transform: translateY(37px);
  border-radius: 24px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid white;
}
.bottom-outer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(-54px);
  position: relative;
  z-index: 20;
}
.moreinfo{
  width: 70vw;
  height: 80px;
  background: #2f2d2d;
  border-radius: 15px;
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
position: absolute;
color: #c5c5c5;
}
.paintbursh{
  position: absolute;
    bottom: 0px;
    left: 100px;
    width: 200px;
    transform: rotate(9deg);
    z-index: -2;
}
.pencil{
  position: absolute;
    right: 267px;
    bottom: 75px;
    width: 120px;
    z-index: 0;
}